<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <!-- 資料庫連線資料 -->
    <add name="iCheers" connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;password=;Max Pool Size=1000;" />
  </connectionStrings>
  <appSettings>
    <!--本程式服務名稱-->
    <add key="ServiceName" value="iCheersEpaperSendService" />
    <!--每多少秒判斷有無待發送電子報-->
    <add key="CheckTime" value="120" />
    <!--每多少秒判斷有無錯誤列表-->
    <add key="CheckErrorTime" value="10" />
    <!--電子報發送記錄儲存資料庫-->
    <add key="Schema_Epaper" value="HistoryLog" />
    <!--郵件主機網址-->
    <add key="Mailhost" value="" />
    <!--郵件主機Port-->
    <add key="MailPort" value="587" />
    <!--郵件主機使用SSL加密否-->
    <add key="MailSSL" value="true" />
    <!--郵件發送帳號-->
    <add key="MailAccount" value="" />
    <!--郵件發送密碼-->
    <add key="MailPassword" value="" />
    <!--郵件發信信箱-->
    <add key="MailFrom" value="" />
    <!--郵件回信信箱-->
    <add key="MailReply" value="" />
		<!--電子報發送程式主機數量-->
		<add key="EpsAPCount" value="1"/>
		<!--電子報發送程式主機序號(從0開始)-->
		<add key="EpsAPNum" value="0"/>
		<!--郵件發送線程數-->
		<add key="TaskCount" value="5"/>
		<!--郵件發送最大次數-->
		<add key="RetryCount" value="3"/>
    <!--容忍錯誤最大次數-->
    <add key="MaxErrorCount" value="10" />
    <!--郵件發送延遲秒數-->
    <add key="DelayTime" value="2" />
    <!--SMTP逾時時間(秒)-->
    <add key="Timeout" value="60" />
    <!--Log寫入路徑-->
    <add key="DebugPath" value="D:\iCheers\iCheersEpaperSend\Log" />
    <!--是否開啟Debug-->
    <add key="Debug" value="true" />
    <!--重啟程式路徑-->
    <add key="RestartPath" value="D:\EpaperProgram\RestartService\bin\Debug\RestartService.exe" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="zxing" publicKeyToken="4e88037ac681fe60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.16.9.0" newVersion="0.16.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="EpaperWork.EpaperServer">
        <endpoint address="" binding="basicHttpBinding" contract="EpaperWork.IiCheersSever">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/EpaperWork/iCheersSever/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>